.portDiv{
    border: 1px solid red;        
    height:600px;
    display:flex;
    justify-content: center;
    Xflex-direction: column;
    Xalign-items: center;
}

.innerDiv{
    border:1px solid gray;
    padding:5px;
    flex:1;
    text-align: center;
    height: 200px;
    min-height: 200px;
}

.div1{
    flex:3;
}