
button{
  margin:5px;
}

.my-green-class{
  background-color: green !important;
}
.my-red-class{
  background-color: rgb(241, 52, 52) !important;
}

.rag-blue{
  background-color: #7272f9 !important;
}

.rag-orange{
  background-color: orange !important;
}

.rag-violet{
  background-color: violet !important;
}

.cell-blue-right-class{
  background-color: #7272f9 !important;
  text-align: right;
  font-weight: bold;
  color:  #fff;
}

.number-cell{
  text-align: right;
}

.text-cell{
  text-align: left;
}

#components-layout-demo-fixed-sider .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}
.site-layout .site-layout-background {
  Xbackground: #fff;
}